*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background: #000;
}


.container {
    max-width: 900px;
    min-width: 500px;
    padding: 15px 5%;
    margin: 40px auto;
    background-color: #1F2937;
    height: 40%;

    
}

.container .header h1 {
    color: #fff;
}

.container .header h1 span {
    color: #4ADF86;
}


.header {
    border-bottom: 1px solid #2F3E53;
    padding: 20px 5%;
}

.header p {
    margin-top: 10px;
    font-size: 18px;
    color: #D5D4D8;
}

.header button {
    margin-top: 30px;
    background: #10B981;
    border: none;
    color: #181818;
    padding: 10px 4%;
    font-size: 17px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
}

.password-space {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    justify-content: center;
    font-size: 18px;
    color: #55F991;
    text-align: center;
}

.password-space .password {
    padding: 20px 7%;
    background-color: #273549;
    width: 100%;
    
}




